<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hello, AngularJS</title>
  <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
</head>

<body ng-app="LearnAngular">
  <div class="container" ng-controller="ItemCtrl as index">
    <h1>SpringBoot - Bower - Gulp - AngularJS</h1>
    <div class="col-md-6">
      <h2>Use</h2>
      <div class="callout" ng-repeat="item in index.getItems" ng-click="main.setCurrentItem(item)">
        <h4>{{item.title}}</h4>
        <p>{{item.description}}</p>
      </div>
      <div>
        <a class="btn btn-primary" ng-click="index.createItem()"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
  <script type="text/javascript" src="./app/app.js"></script>
</body>

</html>